In [1]:
#Installing Pandas Profiling
import sys
!{sys.executable} -m pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\admin\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (1.9.0)
Requirement already satisfied: missingno>=0.4.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (0.12.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (1.20.3)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (4.62.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (1.3.4)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (3.4.3)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (2.26.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (1.7.1)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (2.0.1)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: multimethod>=1.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (1.7)
Requirement already satisfied: joblib~=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: networkx>=2.4 in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (21.2.0)
Requirement already satisfied: Pillow in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (8.4.0)
Requirement already satisfied: imagehash in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\admin\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.10.0.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\admin\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.1.1)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from  pandas_profiling import ProfileReport
import numpy as np

In [3]:
#Practice https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset

df= pd.read_csv(r'E:\iNeuron\data\iData\Advertising.csv')

In [4]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [5]:
 df.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [6]:
df.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [7]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [8]:
pf=ProfileReport(df)

In [9]:
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [10]:
pf.to_file('report.html')

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
#MODELING
x=df[["TV"]]
x

        TV
0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
..     ...
195   38.2
196   94.2
197  177.0
198  283.6
199  232.1

[200 rows x 1 columns]

In [12]:
y=df[["Sales"]]
y

     Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [13]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()

In [14]:
linear.fit(x,y)

LinearRegression()

In [15]:
linear.intercept_

array([7.03259355])

In [16]:
linear.coef_

array([[0.04753664]])

In [19]:
#save modlel
file="linear_regression.sav"
pickle.dump(linear,open(file,'wb'))

In [21]:
#Prediction
linear.predict([[200]])

array([[16.53992164]])

In [25]:
#Save Prediction
linear.predict(x)
pd.DataFrame(x).to_csv("prediction.csv", fields=False)

TypeError: to_csv() got an unexpected keyword argument 'fields'